* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .HomePage,
  .Projects,
  .AboutMe,
  .ContactMe {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .Projects {
    background-image: url('/public/images/PyCraft.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  video {object-fit: cover; width: 100%; height: 100%; position: fixed; z-index: -1; }
  .AboutMe {
    background: url('/public/images/AboutMe.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 100px;
  }
  
  .ContactMe {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  